// karliKingAlexander/frontend/src/styles/main.scss
// Import Variables & Mixins
@import "variables";
@import url("mixins");
// Import Bootstrap
// Import Fonts
@import "../assets/fonts/googleFonts.scss";
// Import Components
@import "../core/components/footer/footer.scss";
@import url("../core/components/header/header.scss");
@import url("../core/components/logo/logo.scss");
@import url("../core/components/profilePicture/profilePicture.scss");
// Import Modules
@import "../modules/hobbies/styles/hobbies.scss";
@import url("../modules/home/styles/home.scss");
@import url("../modules/pdh/styles/pdh.scss");
@import url("../modules/projects/styles/projects.scss");
@import url("../modules/resume/styles/resume.scss");

// Global Styles
:root {
  background-color: $body-bg;
  color: $body-color;
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.page-body {
  display: flex;
  flex-grow: 1;
}

// media queries
@media (prefers-color-scheme: dark) {
  :root {
    background-color: $body-bg;
    color: $body-color;
  }

  a:hover {
    color: $body-color;
  }

  button {
    background-color: $body-bg;
  }
}
